$success-color: #1b5e20;
$success-color-inverse: #FFF;
$warning-color: #ffbb33;
$warning-color-inverse: #FFF;

// Couleurs V8
$primary-color: #FF9900;
$primary-color-inverse: #FFF;
$danger-color: #f74f4F;
$danger-color-inverse: #FFF;
$info-color: #3B8ABC;
$info-color-inverse: #FFF;

$clear-grey: #cfcfcf;

$content-size: 480px;
$content-size-xlarge: 550px;